<!-- <aside id="default-sidebar" class="fixed top-0 left-0 z-40 w-64 h-screen transition-transform -translate-x-full sm:translate-x-0 bg-[#262626]" aria-label="Sidebar">
    <div class="h-full px-3 py-4 overflow-y-auto">
        <app-nav-el
            [title]="'Menu'"
            [data]="menuMainData">
        </app-nav-el>
        <app-nav-el
            [title]="'Support'"
            [showBottomHr]="false"
            [data]="supportMenuData">
        </app-nav-el>
    </div>
</aside> -->


<aside id="default-sidebar" class="fixed top-0 left-0 z-40 w-64 h-screen transition-transform -translate-x-full sm:translate-x-0 bg-white" aria-label="Sidebar">
    <div class="h-full px-3 py-4 overflow-y-auto">
        <app-nav-el
            [title]="'Menu'"
            [data]="menuMainData">
        </app-nav-el>
        <app-nav-el
            [title]="'Support'"
            [showBottomHr]="false"
            [data]="supportMenuData">
        </app-nav-el>
    </div>
</aside>


