<!--
<button data-drawer-target="default-sidebar" data-drawer-toggle="default-sidebar" aria-controls="default-sidebar" type="button" class="inline-flex items-center p-2 mt-2 ms-3 text-sm text-gray-500 rounded-lg sm:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600">
   <span class="sr-only">Open sidebar</span>
   <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
   <path clip-rule="evenodd" fill-rule="evenodd" d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z"></path>
   </svg>
</button> -->


<side-bar></side-bar>


<div class="p-4 sm:ml-64 bg-[#ebebeb]">
      <div class="grid grid-cols-1 md:grid-cols-1 lg:grid-cols-4 gap-4 mb-4">
        <stats-card
          [title]="'Total Revenue'"
          [titleIconBG]="'bg-red-300'"
          [amount]="300"
          [transactionPeriod]="'12/01/2024'"
          [isIncreased]="false">
        </stats-card>

         <stats-card
          [title]="'Total Customers'"
          [titleIconBG]="'bg-yellow-100'"
          [amount]="50"
          [transactionPeriod]="'12/01/2024'"
          [isIncreased]="true" >
        </stats-card>

         <stats-card
          [title]="'Total Transactions'"
          [titleIconBG]="'bg-[#dbf6ec]'"
          [amount]="300"
          [transactionPeriod]="'12/01/2024'"
          [isIncreased]="false">
        </stats-card>

         <stats-card
          [title]="'Total Transactions'"
          [titleIconBG]="'bg-[#dbf6ec]'"
          [amount]="340"
          [transactionPeriod]="'12/01/2024'"
          [isIncreased]="false">
        </stats-card>
      </div>

      <div class="grid grid-cols-2 gap-4 mb-4">
        <app-bar-chart></app-bar-chart>
         <div class="flex items-center justify-center rounded-sm">
            <img src="../../../assets/world-map.png" alt="" class="w-full rounded-xl">
          </div>
      </div>

      <div class="grid grid-cols-3 gap-4">
         <div class="flex items-center justify-center rounded-xl bg-gray-50">
            <img src="../../../assets/table.png" alt="" class="w-full rounded-xl">
         </div>

         <div class="flex items-center justify-center  bg-gray-50 rounded-xl">
            <img src="../../../assets/products.png" alt="" class="w-full rounded-xl">
         </div>
           <div class="flex items-center justify-center rounded-xl bg-gray-50">
            <img src="../../../assets/table.png" alt="" class="w-full rounded-xl">
         </div>
      </div>
</div>
